@{
  Layout = "_Layout";
}


<h1>Welcome Claire! Would you like to @Html.ActionLink("Add a new Stylist", "Create", "Stylists") or would you like to view your @Html.ActionLink("Stylists List", "Index", "Stylists")</h1>