@{
  Layout = "_Layout";
}

@model List<HairSalon.Models.Stylist>
@using HairSalon.Models

@if (Model.Count == 0)
{
  <h3>Currently, you don't have any active Stylists!</h3>
}

<ol>
@foreach (Stylist stylist in Model)
{
  <li>@Html.ActionLink($"{stylist.Name}","Details", new {id = stylist.StylistId})</li>
}
</ol>

<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>